input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-palletGray-100/* Firefox */;
}

.custom-background {
  background-color: #f5f4f4;
}
.tab-trigger {
  @apply data-[state=active]:shadow-none data-[state=active]:bg-transparent data-[state=active]:border-palletPurple-500 data-[state=active]:text-palletPurple-500 data-[state=active]:border-b-2 data-[state=active]:pb-3 data-[state=active]:pt-2;
}
.tab-trigger {
  @apply data-[state=active]:shadow-none data-[state=active]:bg-transparent data-[state=active]:border-palletPurple-300 data-[state=active]:text-palletPurple-300 data-[state=active]:border-b-2 data-[state=active]:pb-3 data-[state=active]:pt-2;
}
.checkerboard-pattern {
/* Tailwind classes */
  background-image: linear-gradient(
      45deg,
      #222ed1 25%,
      transparent 25%,
      transparent 75%,
      #a26e28 75%,
      #42bc32
    ),
    linear-gradient(
      45deg,
      #1c2aed 25%,
      #3249bc 25%,
      #3249bc 75%,
      #42bc32 75%,
      #42bc32
    );
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
